<!DOCTYPE html>
<html lang="en">
 
<head>
 <style>
   a {
     display: block;
   }
 </style>
</head>
 
<body>
    <h1>In progress</h1>
    <div>
        <a href="/W01">W01</a>
        <a href="/W02">W02</a>
        <a href="/W03">W03</a>
        <a href="/W04">W04</a>
        <a href="/W05">W05</a>
        <a href="/W06">W06</a>
        <a href="/W07">W07</a>
        <a href="/W08">W08</a>
        <a href="/W09">W09</a>
        <a href="/W10">W10</a>
        <a href="/W11">W11</a>
        <a href="/W12">W12</a>
        <a href="/W13">W13</a>
        <a href="/W14">W14</a>
    </div>
    <h1>Completed</h1>
    <div>
        <a href="/done_W01">W01</a>
        <a href="/done_W02">W02</a>
        <a href="/done_W03">W03</a>
        <a href="/done_W04">W04</a>
        <a href="/done_W05">W05</a>
        <a href="/done_W06">W06</a>
        <a href="/done_W07">W07</a>
        <a href="/done_W08">W08</a>
        <a href="/done_W09">W09</a>
        <a href="/done_W10">W10</a>
        <a href="/done_W11">W11</a>
        <a href="/done_W12">W12</a>
        <a href="/done_W13">W13</a>
        <a href="/done_W14">W14</a>
    </div>
</body>
 
</html>
